<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>soundbytes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card *ngFor="let track of files | async" color="dark"> 
    <ion-card-title class="musicText" id="audioTitle">{{track.audioTitle}}</ion-card-title>
    <ion-card-content class="musicText" id="audioDesc ">{{track.audioDescription}}</ion-card-content>
    <ion-item> 
    <ion-icon name="play-outline" (click)="togglePlayer(false,track)" *ngIf="!track.isPlaying "></ion-icon>
    <ion-icon name="pause-circle-outline" (click)="togglePlayer(true,track)" *ngIf="track.isPlaying "></ion-icon>
 
  <ion-range max="100" name={{track.filePath}} #range [(ngModel)]="track.progress" (touchend)="seek(track)"
    (mouseup)="seek(track)"></ion-range>
  </ion-item> 
</ion-card>
</ion-content>
