<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
    <ion-list>
      <ion-item *ngFor = "let blog of blogs">
       <ion-label>
         <p class="msgText">{{blog}}</p>
       </ion-label>
     </ion-item>
    </ion-list>
    </ion-row>
  </ion-grid>
    <ion-item class="txtBar">
      <ion-textarea [(ngModel)] = "currentInput" placeholder="placeholder"></ion-textarea>
    </ion-item>
  
    <button class="txtSendButton" expand="full" color="secondary" (click) = "addBlog()">Send</button>
</ion-content>