<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>  
    <ion-searchbar showCancelButton="focus" (ionChange)="_ionChange($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  
  <ion-slides [options]= "option" class= "ion-margin" >
    <ion-slide *ngFor = "let artist of artist"> 
      <a href={{route}}>
        <img src ={{artist.picture}} class = "profilePictures">
        <h2>{{artist.name}}</h2>
        <b>{{artist.about}}</b>
      </a>
    </ion-slide>
  </ion-slides>
  
</ion-content>

