
<ion-header >
</ion-header>
<ion-content fullscreen>
  <h2>Genres</h2>
  <ion-slides class="slides" [options]="option">
    <ion-slide *ngFor="let keys of genres" class="eachSlide" [routerLink]="['/soundbytes']">
      <a>
        <img src={{keys.photo}} class="albumPhoto">
        <h2 class="name">{{keys.name}}</h2>
      </a>
    </ion-slide>
  </ion-slides>

  <h2>Instruments</h2>
  <ion-slides [options]="option">
    <ion-slide *ngFor="let keys of instruments" class="eachSlide" [routerLink]="['/soundbytes']">
      <a>
        <img src={{keys.photo}} class="artistPhoto"/>
        <h2 class="name">{{keys.name}}</h2>
      </a>
    </ion-slide>
  </ion-slides>



</ion-content>