@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
#logo{
  width:60px;
  height: 67px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2{
  font-family: 'Hind', sans-serif;
  margin-left: 5%;
  color:white;
  margin-top:0;
}
.swiper-slide img {
  position: relative;
  float: left;
  width:  220px;
  height: 280px;
  object-fit: cover;
  border-radius: 5%;
  margin: 10px 10px;

}

ion-content{
  --background: url("../../assets/Images/background.png") 0 0/100% 100% no-repeat;

}
.name{
  font-family: 'Hind', sans-serif;
  position: relative;
  right: 70px;
  margin-top: 0;
  bottom: 60px;
  color:white;
}
.eachSlide{
  margin-right: 10px;
}

ion-toolbar {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  color:white;
  --background: transparent;
  --ion-color-base: transparent !important;
}
#container{
  width: max-content;
}