@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.title{
  position:absolute;
  left: 30px;
  top: 30px;
}
h2{
  font-family: 'Hind', sans-serif;
}
.swiper-slide img {
  position: relative;
  float: left;
  width:  250px;
  height: 260px;
  object-fit: cover;
  border-radius: 5%;
  margin: 10px 10px;
}

.name{
  font-family: 'Hind', sans-serif;
  position: relative;
  right: 50px;
  bottom: 60px;
  color:white;
}
.eachSlide{
  margin-right: 30px;
}