.profilePictures {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.chatBoxes {
  float: right;
  clear: both;
  background-color: #6910fa;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px transparent;
  border-radius: 15px;
  margin-top: 5px;
  margin-right: 10px;
}
.left {
  float: left;
  clear: both;
  background-color:black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px transparent;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 10px;
}
ion-icon {
  color: #6910fa;
}
