.profilePictures{
    float: left;
    width:  100px;
    height: 100px;
    border-radius: 100%;
    
}
.chatBoxes{
    float:right;
    background-color: cadetblue;
    color: white;
    padding-left: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
    padding-right: 20%;
    margin-right: 7%;

}